version: '3.5'
services:
  database:
    image: postgres:17.2
    container_name: app-near-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app-near
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - app-near-postgresql-data:/var/lib/postgresql
    command: postgres -c max_connections=30

  app-near-web:
    image: node:22-alpine
    command: > 
      sh -c "
        echo 'starting app-near...' && 
        npm i &&
        npm run db:migrate &&
        apk add --no-cache postgresql-client && 
        npm run data:reset "postgresql://postgres:password@database:5432/app-near" &&
        npm run load:insee -- "./scripts/load-insee/base-ic-evol-struct-pop-2021.csv" \"postgresql://postgres:password@database:5432/app-near\" &&
        npm run survey:create -- iris=\"751145501,751145503,751145601\" surveyName=\"Porte d'Orléans\" &&
        npm run user:create -- role=PILOTE email=pilote@mail.com password=pilote surveyName=\"Porte d'Orléans\" &&
        npm run user:create -- role=ADMIN email=admin@mail.com password=admin &&
        npm run dev
      "
    environment:
      DATABASE_URL: postgresql://postgres:password@database/app-near
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./app-near:/app
    depends_on:
      - database

  api-su:
    image: python:3.13-slim
    command: sh -c "echo 'starting api-su...'; pip install pipenv && pipenv install --deploy --ignore-pipfile && pipenv run flask run --host 0.0.0.0"
    ports: 
      - "5000:5000"
    working_dir: /app
    volumes:
      - ./api-su:/app

volumes:
  app-near-postgresql-data: